nav{

    list-style-type: none;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: .005mm;
    margin-inline: 10%;
}

nav li{
    display: inline;
    text-align: center;
    margin-inline: 15px;
}

.lnk{
    color: black;
    text-decoration: none;
    padding-block: 10px;
    padding-inline: 5px;
}

.lnk:hover{
    color: darkblue;
}

nav .burger{
    display: none;
}

@media (orientation: portrait) {
    body {
        margin: 10px;
    }

    #menulist {
        display: none;
    }

    #menulist.open {
        display: block;
    }

    nav li {
        display: block;
    }

    nav li a {
        line-height: 2.5;
        margin-right: 30px;
    }

    nav {
        text-align: left;
        margin-inline: 1%;
    }

    nav .bar {
        width: 36px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    nav .burger {
        display: initial;
        cursor: pointer;
        width: 52px;
        border: transparent;
        background-color: transparent;
        margin-left: 10px;
        margin-top: 5px;
    }

}